<div class="tertable-title">
    <ul>
        <li class="active">硬件资产</li>
        <li>软件资产</li>
    </ul>
</div>

<div class="subtitle">
    <ul>
        <li class="active">概述</li>
        <li>主板</li>
        <li>处理器</li>
        <li>硬盘</li>
        <li>内存</li>
        <li>显卡</li>
        <li>显示器</li>
        <li>其它设备</li>
        <li>PCI设备</li>
        <li>USB设备</li>
    </ul>
</div>


<div class="detail-box">
    <h5>概述</h5>
    <section>
        <!--概述-->
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <p>
           <span class="dt-title">电脑型号</span><span>联想 80EQ 笔记本电脑</span>
        </p>
        <p>
            <span class="dt-title">操作系统</span><span>Windows 10 64位 ( DirectX 12 )</span>
        </p>
        <p>
            <span class="dt-title">处理器</span><span>英特尔 Core i5-4300U @ 1.90GHz 双核</span>
        </p>
        <p>
            <span class="dt-title">主板</span><span>联想 ZHAOYANG E40-70 ( 英特尔 Haswell-ULT )</span>
        </p>
        <p>
            <span class="dt-title">显卡</span><span>AMD Radeon HD 8500M ( 2 GB )</span>
        </p>
        <p>
            <span class="dt-title">内存</span><span>12 GB ( 海力士 DDR3L 1600MHz / 金士顿 DDR3L 1600MHz )</span>
        </p>
        <p>
            <span class="dt-title">主硬盘</span><span>西数 WDC WD5000LPCX-24C6HT0 ( 500 GB / 7200 转/分 )</span>
        </p>
        <p>
            <span class="dt-title">显示器</span><span>LG LGD045E ( 14 英寸 )</span>
        </p>
        <p>
            <span class="dt-title">光驱</span><span>日立-LG DVDRAM GUC0N DVD刻录机</span>
        </p>
        <p>
            <span class="dt-title">声卡</span><span>瑞昱 Realtek @ 英特尔 Lynx Point-LP 高保真音频</span>
        </p>
        <p>
            <span class="dt-title">网卡</span><span>瑞昱 RTL8168/8111/8112 Gigabit Ethernet Controller / 联想</span>
        </p>

        <!--主板-->
        <p>主板</p>
        <p>
            <span class="dt-title">主板型号</span><span>联想 ZHAOYANG E40-70</span>
        </p>
        <p>
            <span class="dt-title">芯片组</span><span>英特尔 Haswell-ULT</span>
        </p>
        <p>
            <span class="dt-title">序列号</span><span>R300Q17C</span>
        </p>
        <p>
            <span class="dt-title">主板版本</span><span>31900060WINDPK</span>
        </p>
        <p>
            <span class="dt-title">BIOS </span><span>联想 9DCN29WW(V2.09)  /  制造日期: 11/21/2014</span>
        </p>

        <!--处理器-->
        <p>处理器</p>
        <p>
            <span class="dt-title">处理器</span><span>英特尔 Core i5-4300U @ 1.90GHz 双核</span>
        </p>
        <p>
            <span class="dt-title">速度</span><span>2.50 GHz (100 MHz x 25.0)</span>
        </p>
        <p>
            <span class="dt-title">处理器数量</span><span>核心数: 2 / 线程数: 4</span>
        </p>
        <p>
            <span class="dt-title">生产工艺</span><span>0.25 微米</span>
        </p>
        <p>
            <span class="dt-title">插槽/插座</span><span>U3E1</span>
        </p>
        <p>
            <span class="dt-title">一级数据缓存</span><span>2 x 32 KB, 8-Way, 64 byte lines</span>
        </p>
        <p>
            <span class="dt-title">一级代码缓存</span><span>2 x 32 KB, 8-Way, 64 byte lines</span>
        </p>
        <p>
            <span class="dt-title">二级缓存</span><span>2 x 256 KB, 8-Way, 64 byte lines</span>
        </p>
        <p>
            <span class="dt-title">三级缓存</span><span>3 MB, 12-Way, 64 byte lines</span>
        </p>
        <p>
            <span class="dt-title">特征</span><span>MMX, SSE, SSE2, SSE3, SSSE3, SSE4.1, SSE4.2, HTT, EM64T, EIST</span>
        </p>

        <!--硬盘-->
        <p>硬盘</p>
        <p>
            <span class="dt-title">产品</span><span>西数 WDC WD5000LPCX-24C6HT0</span>
        </p>
        <p>
            <span class="dt-title">大小</span><span>500 GB</span>
        </p>
        <p>
            <span class="dt-title">转速</span><span>7200 转/分</span>
        </p>
        <p>
            <span class="dt-title">缓存</span><span>32 MB</span>
        </p>
        <p>
            <span class="dt-title">硬盘已使用</span><span>共 203 次，累计 962 小时</span>
        </p>
        <p>
            <span class="dt-title">固件</span><span>02.01A02</span>
        </p>
        <p>
            <span class="dt-title">接口 </span><span>SATA III</span>
        </p>
        <p>
            <span class="dt-title">数据传输率 </span><span>600 MB/秒</span>
        </p>
        <p>
            <span class="dt-title">特征</span><span>S.M.A.R.T,  APM,  48-bit LBA,  NCQ</span>
        </p>
        <p>
            <span class="dt-title">序列号</span><span>49AA4F391130F453</span>
        </p>


        <!--内存-->
        <p>内存</p>
        <p>
            <span class="dt-title">序列号</span><span>49AA4F39</span>
        </p>
        <p>
            <span class="dt-title">厂商</span><span>Hynix</span>
        </p>
        <p>
            <span class="dt-title">模块位宽</span><span>64 Bits</span>
        </p>
        <p>
            <span class="dt-title">模块电压</span><span>SSTL 1.35V</span>
        </p>


        <!--显卡-->
        <p>显卡</p>
        <p>
            <span class="dt-title">显卡</span><span>英特尔 HD Graphics Family</span>
        </p>
        <p>
            <span class="dt-title">显存</span><span>2 GB</span>
        </p>
        <p>
            <span class="dt-title">制造商</span><span>联想</span>
        </p>
        <p>
            <span class="dt-title">驱动版本</span><span>15.200.1062.1004</span>
        </p>
        <p>
            <span class="dt-title">驱动日期</span><span>20150803</span>
        </p>


        <!--显示器-->
        <p>显示器</p>
        <p>
            <span class="dt-title">产品</span><span>LG LGD045E</span>
        </p>
        <p>
            <span class="dt-title">厂商</span><span>LG</span>
        </p>
        <p>
            <span class="dt-title">固件日期 </span><span>2014 年</span>
        </p>
        <p>
            <span class="dt-title">屏幕尺寸</span><span>14 英寸 (31 厘米 x 17 厘米)</span>
        </p>
        <p>
            <span class="dt-title">显示比例</span><span>宽屏 16 : 9</span>
        </p>
        <p>
            <span class="dt-title">分辨率</span><span>1366 x 768 32 位真彩色</span>
        </p>
        <p>
            <span class="dt-title">Gamma</span><span>2.2</span>
        </p>
        <p>
            <span class="dt-title">电源管理</span><span>Standby, Suspend, Active-Off</span>
        </p>
        <p>
            <span class="dt-title">最大分辨率</span><span>1366 x 768</span>
        </p>


        <!--其它设备-->
        <p>其它设备</p>
        <p>
            <span class="dt-title">产品</span><span>日立-LG DVDRAM GUC0N DVD刻录机</span>
        </p>
        <p>
            <span class="dt-title">缓存/固件:</span><span>512 KB / T.02(2014-08-27)</span>
        </p>
        <p>
            <span class="dt-title">网卡</span><span>瑞昱 RTL8168/8111/8112 Gigabit Ethernet Controller</span>
        </p>
        <p>
            <span class="dt-title">制造商</span><span>联想</span>
        </p>
        <p>
            <span class="dt-title">无线网卡</span><span>Atheros AR9565 Wireless Network Adapter</span>
        </p>
        <p>
            <span class="dt-title">制造商</span><span>联想</span>
        </p>
        <p>
            <span class="dt-title">声卡</span><span>瑞昱 Realtek @ 英特尔 Lynx Point-LP 高保真音频</span>
        </p>
        <p>
            <span class="dt-title">键盘</span><span>PS/2 标准键盘</span>
        </p>
        <p>
            <span class="dt-title">鼠标</span><span>联想 指点杆</span>
        </p>
        <p>
            <span class="dt-title">鼠标</span><span>HID-compliant 鼠标</span>
        </p>
        <p>
            <span class="dt-title">摄像头</span><span>联想 EasyCamera</span>
        </p>


        <!--PCI设备-->
        <p>PCI设备</p>
        <p>
            <span class="dt-title">设备</span><span>Haswell-ULT DRAM Controller</span>
        </p>
        <p>
            <span class="dt-title">设备ID</span><span>0A04</span>
        </p>
        <p>
            <span class="dt-title">制造商</span><span>Intel</span>
        </p>
        <p>
            <span class="dt-title">制造商ID</span><span>8086</span>
        </p>
        <p>
            <span class="dt-title">类别</span><span>Bridge / PCI to HOST</span>
        </p>
        <p>
            <span class="dt-title">子系统制造商</span><span>Lenovo</span>
        </p>
        <p>
            <span class="dt-title">子系统ID</span><span>397817AA</span>
        </p>


        <!--USB设备-->
        <p>USB设备</p>
        <p>
            <span class="dt-title">描述</span><span>Validity Sensors, Inc. VFS5011 Fingerprint Reader</span>
        </p>
        <p>
            <span class="dt-title">制造商ID</span><span>138A</span>
        </p>
        <p>
            <span class="dt-title">产品ID</span><span>11</span>
        </p>
        <p>
            <span class="dt-title">类别</span><span>255 / 17 / 255</span>
        </p>
        <p>
            <span class="dt-title">设备</span><span>? ?</span>
        </p>
        <p>
            <span class="dt-title">Serial</span><span>7b4c953cd3d7</span>
        </p>
        <p>
            <span class="dt-title">版本</span><span>USB 1.1</span>
        </p>






    </section>
</div>


