<div class="main">
	<!--二级标签-->
	<div class="main-tab">
		<ul>
			<li class="current"><a href="">终端</a></li>
			<li><a href="">网络</a></li>
			<li><a href="">部门</a></li>
			<li><a href="">标签</a></li>
		</ul>
	</div>
	<!--正文-->
	<div class="main-body body-terminal">
		<section class="section-style-one">
			<div class="l">
				<div class="btn1">
					<i class="fa fa-check-circle-o"></i>
					<span>选择</span>
				</div>
				<div class="btn1">
					<i class="fa fa-edit"></i>
					<span>操作</span>
				</div>
				<div class="search">
					<input type="text" placeholder="搜索" />
					<a href="javascript:void(0)" class="fa fa-search"></a>
				</div>
			</div>
			<div class="r">
				<div class="btn2 bg-purple fa fa-gear">
					<div class="set-box">
						<div class="box-group">
							<h6>视图方式</h6>
							<ul class="list1">
								<li class="fa fa-list-ul current"></li>
								<li class="fa fa-th-large"></li>
							</ul>
						</div>
						<div class="box-group">
							<h6>每页显示数量</h6>
							<ul class="list2">
								<li class="current">10</li>
								<li>20</li>
								<li>30</li>
								<li>50</li>
								<li>100</li>
							</ul>
						</div>
						<div class="box-group">
							<h6>显示项目</h6>
							<ul class="list3">
								<li class="current">
									<input type="checkbox" />
									<em></em>
									<span>主机名</span>
								</li>
								<li>
									<input type="checkbox" />
									<em></em>
									<span>操作系统</span>
								</li>
								<li>
									<input type="checkbox" />
									<em></em>
									<span>标签</span>
								</li>
								<li>
									<input type="checkbox" />
									<em></em>
									<span>责任人</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="btn2 bg-blue fa fa-share"></div>
				<div class="btn2 bg-blue fa fa-file-o"></div>
			</div>	
			<div class="clear-left"></div>
		</section>

		<section class="section-style-two form-inline">
			<div class="select">
				<label>类型</label>
				<select class="form-control">
					<option></option>
				</select>
			</div>
			<div class="select">
				<label>操作系统</label>
				<select class="form-control">
					<option></option>
				</select>
			</div>
			<div class="select">
				<label>在线状态</label>
				<select class="form-control">
					<option></option>
				</select>
			</div>
			<div class="select">
				<label>是否安装客户端</label>
				<select class="form-control">
					<option></option>
				</select>
			</div>
			<div class="select">
				<label>告警状态</label>
				<select class="form-control">
					<option></option>
				</select>
			</div>
			<button class="btn btn-info" type="button">保存</button>
		</section>

		<section class="section-style-four container">
			<div class="section-row">
				<dl class="current">
					<dt>
						<i class="fa fa-tv"></i>
						<input type="checkbox" />
					</dt>
					<dd>
						<h5>ARON-PC</h5>
						<p>
							部门：<span>未知</span>
						</p>
						<p>
							负责人：<span>David</span>
						</p>
						<p>
							类型：<span>未知</span>
						</p>
						<p>
							操作系统：<span>未知</span>
						</p>
						<p>
							主机名：<span>David-PC</span>
						</p>
						<p>
							客户端：<span>--</span>
						</p>
						<p>
							IP：<span>192.168.100.33</span>
						</p>
						<p>
							接入位置：<span>未知</span>
						</p>
						<p>
							使用人：<span>未知</span>
						</p>
						<p>
							操作：<span>未知</span>
						</p>
						<div class="dl-btn">
							<a href="" class="fa fa-edit"></a>
							<a href="" class="fa fa-trash"></a>
						</div>
					</dd>
				</dl>
				<dl>
					<dt>
						<i class="fa fa-tv"></i>
						<input type="checkbox" />
					</dt>
					<dd>
						<h5>ARON-PC</h5>
						<p>
							部门：<span>未知</span>
						</p>
						<p>
							负责人：<span>David</span>
						</p>
						<p>
							类型：<span>未知</span>
						</p>
						<p>
							操作系统：<span>未知</span>
						</p>
						<p>
							主机名：<span>David-PC</span>
						</p>
						<p>
							客户端：<span>--</span>
						</p>
						<p>
							IP：<span>192.168.100.33</span>
						</p>
						<p>
							接入位置：<span>未知</span>
						</p>
						<p>
							使用人：<span>未知</span>
						</p>
						<p>
							操作：<span>未知</span>
						</p>
						<div class="dl-btn">
							<a href="" class="fa fa-edit"></a>
							<a href="" class="fa fa-trash"></a>
						</div>
					</dd>
				</dl>
			</div>
		</section>
	</div>
</div>