@import "variable";

/* ============================ */
/* P1. global css */
/* ============================ */
html,
body {
    margin: 0;
    font-size: 12px;
    word-break: break-all;
    word-wrap: break-word;
    font-family:"Microsoft YaHei","微软雅黑",Helvetica,Arial,sans-serif;
    height: 100%;
}
.view-container {
    height: 100vh;
    padding-right: 0px;
    padding-left: 0px;
}
select {
  position: relative;
  padding: 6px 12px;
  line-height: 1.42857143;
  width: 5rem;
  background-color: #fff;
  border: 1px solid #ddd;
}

.clear {
  clear: both;
  margin-top: 15px;
}

/* ============================ */
/* P2. bootstrap css */
/* ============================ */
.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* alert css */
.shunter-alert {
  position: absolute;
  font-size: 13px;
  top: 86px;
  right: 0px;
  width: 300px;
  z-index: 33;
  text-align: center;
}
.shunter-alert .alert-success,
.shunter-alert .alert-error,
.shunter-alert .alert-warning,
.shunter-alert .alert-danger,
.shunter-alert .alert-info {
  background: linear-gradient(#ccc, #ccc);
  border: 1px solid;
  /*box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);*/
  border-radius: 2px;
  border: 1px #565656 solid;
  /*background-color: #262626;*/
  filter:alpha(opacity=80); /*IE滤镜*/
  -moz-opacity:0.8; /*Firefox私有*/
  opacity:0.8;
}
.shunter-alert .close {
  position: absolute;
  top: 8px;
  right: 18px;
  color: #ffffff;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.shunter-alert .alert-success {
  color:#9eea6a;
}
.shunter-alert .alert-warning {
  color:#F60;
}
.shunter-alert .alert-error {
  color: #ff3b30;
}
.shunter-alert .alert-danger {
  color: #cc5353;
}
.shunter-alert .alert-info {
  color: #ccc;
}
.alert-success:before { content: "\f05d"; color:#9eea6a; font-family: FontAwesome; font-size: 24px; position: absolute; top:5px; left: 10px; z-index: 2;}
.alert-warning:before { content: "\f06a"; color:#F30; font-family: FontAwesome; font-size: 24px; position: absolute; top:5px; left: 10px; z-index: 2;}
.alert-error:before,.alert-danger:before{ content: "\f057"; color:#ff3b30; font-family: FontAwesome; font-size: 24px; position: absolute; top:5px; left: 10px; z-index: 2;}
.alert-info:before { content: "\f05a"; color:#ccc; font-family: FontAwesome; font-size: 24px; position: absolute; top:5px; left: 10px; z-index: 2;}
/* ANGULAR ANIMATE: FADE OUT RIGHT SIDE */
.fade-out-right {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}
.fade-out-right.ng-enter {
  right: -40px;
  opacity: 0;
}
.fade-out-right.ng-enter.ng-enter-active {
  right: 0;
  opacity: 1;
}
.fade-out-right.ng-leave {
  right: 0;
  opacity: 1;
}
.fade-out-right.ng-leave.ng-leave-active {
  right: -40px;
  opacity: 0;
}
.fade-out-right.ng-move {
  opacity: 0.5;
}
.fade-out-right.ng-move.ng-move-active {
  opacity: 1;
}

/* pagination css */
.pagination-ten {
  .pagination li a {
    margin: 0px 5px;
    background: $gray;
    color: $gray-deep-light;
    border:0;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
  }
  .pagination li a:hover{
    background: $gray-dark;
  }
  .pagination>.active>a,
  .pagination>.active>a:focus,
  .pagination>.active>a:hover,
  .pagination>.active>span,
  .pagination>.active>span:focus,
  .pagination>.active>span:hover {
    color: $white;background-color: $gray-dark;
  }
  .pagination>li>a:focus,
  .pagination>li>a:hover,
  .pagination>li>span:focus,
  .pagination>li>span:hover {
    color: $white;
  }
  .pagination>.disabled>a,
  .pagination>.disabled>a:hover {
    background-color: $gray;
  }
  .btn:disabled,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    cursor:default;
  }
}

.pagination-custom {
  .pagination >li  {
    margin-left: 5px;
    >a, >span {
      float: none;
    }
    >input {
      position: relative;
      padding: 6px 12px;
      margin-right: 2px;
      line-height: 1.42857143;
      width: 5rem;
      background-color: $white;
      border: 1px solid $gray-deep-light;
    }
    .pagination-goto {
      border-radius: 4px !important;
    }
    .pagination-prev-a {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }
  }
}

/* modal part */
.modal-custom-body {
    padding-right: 0px !important;      /*防止modal open时向左移动*/
    padding-left: calc(100vw - 100%);   /*防止右侧滚动条出现时，页面跳动*/
}

/* button css */
.btn-link:focus,
.btn-link:active:focus{
    outline:none;
}

/* table css */
/*
.table-hover > tbody > tr:hover,
.table-hover > tbody > tr:hover > td{
    background-color: #454645;
}
*/

/* tooltip css */
/* Specify styling for tooltip contents */
.tooltip-inner {
    width: 260px;
}
.tooltip.customClass .tooltip-inner {
    color: #ffffff;
    background-color: #262626;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border:1px #454545 solid;
    line-height: 24px;
    word-break: break-all;
    word-wrap: break-word;
}
/* Hide arrow */
.tooltip.customClass .tooltip-arrow {
    display: none;
}
.tooltip-item {
    text-align: left;
}

.tooltip-item .star{
    color: #1c7dfa;
}

/* alert css */
.ws-alert {
    position: absolute;
    font-size: 13px;
    top: 75px;
    right: 0px;
    width: 300px;
    z-index: 1;
    text-align: center;
}
.ws-alert .alert-success,
.ws-alert .alert-error,
.ws-alert .alert-warning,
.ws-alert .alert-danger,
.ws-alert .alert-info {
    background: linear-gradient(#3e3e3e, #333333) #262626;
    border: 1px solid;
    /*box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);*/
    border-radius: 2px;
    border: 1px #565656 solid;
    filter: alpha(opacity=80); /*IE滤镜*/
    -moz-opacity:0.8; /*Firefox私有*/
    opacity:0.8;
}
.ws-alert .close {
    position: absolute;
    top: 8px;
    right: 18px;
    color: #ffffff;
    font-size: 14px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    opacity: 1;
}
.ws-alert .alert-success {
    color:#9eea6a;
}
.ws-alert .alert-warning {
    color:#F60;
}
.ws-alert .alert-error {
    color: #ff3b30;
}
.ws-alert .alert-danger {
    color: #cc5353;
}
.ws-alert .alert-info {
    color: #ccc;
}
.alert-success:before {
    content: "\f05d";
    color:#9eea6a;
    font-family: FontAwesome;
    font-size: 24px;
    position: absolute;
    top:5px;
    left: 10px;
    z-index: 2;
}
.alert-warning:before {
    content: "\f06a";
    color:#F30;
    font-family: FontAwesome;
    font-size: 24px;
    position: absolute;
    top:5px;
    left: 10px;
    z-index: 2;
}
.alert-error:before,
.alert-danger:before{
    content: "\f057";
    color:#ff3b30;
    font-family: FontAwesome;
    font-size: 24px;
    position: absolute;
    top:5px;
    left: 10px;
    z-index: 2;
}
.alert-info:before {
    content: "\f05a";
    color:#ccc;
    font-family: FontAwesome;
    font-size: 24px;
    position: absolute;
    top:5px;
    left: 10px;
    z-index: 2;
}
/* ANGULAR ANIMATE: FADE OUT RIGHT SIDE */
.fade-out-right {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
}
.fade-out-right.ng-enter {
    right: -40px;
    opacity: 0;
}
.fade-out-right.ng-enter.ng-enter-active {
    right: 0;
    opacity: 1;
}
.fade-out-right.ng-leave {
    right: 0;
    opacity: 1;
}
.fade-out-right.ng-leave.ng-leave-active {
    right: -40px;
    opacity: 0;
}
.fade-out-right.ng-move {
    opacity: 0.5;
}
.fade-out-right.ng-move.ng-move-active {
    opacity: 1;
}

/* ============================ */
/* P2. font-awesome additional css */
/* ============================ */
.fa-plus-overlay
{
  position: relative;

  &:after
  {
    position: absolute;
    font-family: FontAwesome;
    bottom: -5px;
    right: -5px;
    content: "\f067";
  }
}

/* ============================ */
/* P3. smart-table & stable plugin css */
/* ============================ */
.st-sort-ascent:before{
    content: '\25B2';
}
.st-sort-descent:before{
    content: '\25BC';
}
.st-selected{
    background: #216eff !important;
    color: white !important;
}

.stable-toolbar {
  div {
    padding-left: 0;
    padding-right: 0;
  }
  .left-toolbar {
    button {
      margin-right: .5em;
      vertical-align: top;
    }
    .search {
      width: 15em;
      display: inline-block;
      span{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        &:hover{
          cursor:pointer;
          color:$black;
        }
      }
    }
  }
  .right-toolbar {
    text-align: right;
    button {
      margin-right: .5em;
    }
    .configuration {
      margin-right: 0;
    }
  }
  //覆盖bootstrap样式，实现弹出界面的效果(要用到table的右上角配置控件中)
  .popover {
    border-radius: 0px;
  }
  .popover.bottom-right,.popover.bottom-left {
    margin-top:0px;
    > .arrow{
      display:none;
    }
  }
}

.stable-filter {
  padding: 1em;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  >div {
    padding-left: 0;
  }
  .filter-item {
    display:inline-block;
    line-height: 4rem;
    >div {
      margin-right: 2rem;
    }
    .filter-item-group {
      display: inline-block;
      em{
        font-style:normal;
        margin:0 10px;
      }
    }
    .filter-item-dropdown {
      display: inline-block;
      > select {
        width: 15rem;
      }
      > input[type='text']{
        border: 1px solid #ddd;
        width: 15rem;
        padding: 6px 12px;
        line-height: 1.42857143;
      }
    }
    .filter-item-date{
      display: inline-block;
      width:auto;
      float:none;
      > input{
        border: 1px solid #ddd;
        width: 15rem;
        padding: 6px 12px;
        line-height: 1.42857143;
      }
    }
  }
}

/* top cog css */
.top-cog{
  ul{
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
    li{
      display:inline-block;
      width:20px;
      height:20px;
      margin:0 5px;
      &:hover{
        cursor:pointer;
      }
      &.purple{
        background:$purple;
      }
      &.red{
        background:$red;
      }
       &.violet{
        background:$violet;
      }
    }
  }
}

/* top user css */
.top-user{
  ul{
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
    li{
      padding:5px 10px;
      border-bottom:1px dashed #cccccc;
      text-align:center;
      &.href{
        cursor:pointer;
        &:hover{
          color:$blue;
        }
      }
      &:last-child{
        border-bottom:0;
      }
    }
  }
}

/* text */
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

/* dotting animation */
.dotting {
    display: inline-block; width: 10px; min-height: 3px;
    padding-right: 2px;
    border-left: 2px solid $black; border-right: 2px solid $black;   
    background-color: $black; background-clip: content-box;
    box-sizing: border-box;
    animation: dot 4s infinite step-start both;
    *zoom: expression(this.innerHTML = '...'); /* IE7 */
}
.dotting:before { content: '...'; } /* IE8 */
.dotting::before { content: ''; }
:root .dotting { margin-left: 2px; padding-left: 2px; } /* IE9+ */

@keyframes dot {
  25% {
    border-color: transparent;
    background-color: transparent;
  }
  /* 0个点 */
  50% {
    border-right-color: transparent;
    background-color: transparent;
  }
  /* 1个点 */
  75% {
    border-right-color: transparent;
  }
  /* 2个点 */
}

/* SweetAlert弹出窗 */
.sweet-alert{
  margin-top: -150px;
  h2{
    font-size: 18px;
    margin: 20px 0 0 0;
    line-height: 30px;
  }
  button{
    background-color: $purple-light;
    padding: 5px 20px;
    margin: 10px 5px 0 5px;
    font-size: 14px;
  }
  .sa-icon{
    width:40px;
    height:40px;
    margin:10px auto;
    &.sa-info{
      &::before{
        height:20px;
        bottom:15px;
      }
      &::after{
        top:28px;
      }
    }
    &.sa-warning{
      .sa-body{
        height:20px;
        top:5px;
      }
      .sa-dot{
        bottom:5px;
      }
    }
    &.sa-success{
      .sa-line.sa-tip{
        width: 20px;
        left: 2px;
        top: 24px;
      }
      .sa-line.sa-long{
        width: 25px;
        right: 0;
        top: 20px;
      }
      .sa-placeholder{
        display:none;
        width:40px;
        height:40px;
      }
      .sa-fix{
        display:none;
        top: -7px;
      }
      &::before{
        display:none;
        top: -12px;
        left: -30px;
      }
      &::after{
        display:none;
        top: -19px;
      }
    }
    &.sa-error{
      .sa-line{
        width:30px;
        top:18px;
        &.sa-left{
          left:6px;
        }
        &.sa-right{
          right:6px;
        }
      }
    }
  }
}

/* 公共图标 */
.normal-online{
  background-image:url("../../images/normal-online.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  width:40px;
  height:40px;
}
.normal-offline{
  background-image:url("../../images/normal-offline.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  width:40px;
  height:40px;
}
.unknow-online{
  background-image:url("../../images/unknow-online.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  width:40px;
  height:40px;
}
.unknow-offline{
  background-image:url("../../images/unknow-offline.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  width:40px;
  height:40px;
}
.audit-online{
  background-image:url("../../images/audit-online.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  width:40px;
  height:40px;
}
.audit-offline{
  background-image:url("../../images/audit-offline.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  width:40px;
  height:40px;
}
.home-current{
  background-image:url("../../images/home-current.png");
  background-repeat:no-repeat;
  background-size:20px 20px;
  width:20px;
  height:20px;
}
.home-unselect{
  background-image:url("../../images/home-unselect.png");
  background-repeat:no-repeat;
  background-size:20px 20px;
  width:20px;
  height:20px;
}
.companyresource-current{
  background-image:url("../../images/companyresource-unselect.png");
  background-repeat:no-repeat;
  background-size:20px 20px;
  color:$purple;
  width:20px;
  height:20px;
}
.companyresource-unselect{
  background-image:url("../../images/companyresource-unselect.png");
  background-repeat:no-repeat;
  background-size:20px 20px;
  width:20px;
  height:20px;
}
.strategymanagement-current{
  background-image:url("../../images/strategymanagement-unselect.png");
  background-repeat:no-repeat;
  background-size:20px 20px;
  width:20px;
  height:20px;
}
.strategymanagement-unselect{
  background-image:url("../../images/strategymanagement-unselect.png");
  background-repeat:no-repeat;
  background-size:20px 20px;
  width:20px;
  height:20px;
}
.static-report-current{
  background-image:url("../../images/static-report-unselect.png");
  background-repeat:no-repeat;
  background-size:20px 20px;
  width:20px;
  height:20px;
}
.static-report-unselect{
  background-image:url("../../images/static-report-unselect.png");
  background-repeat:no-repeat;
  background-size:20px 20px;
  width:20px;
  height:20px;
}
.systemsetting-current{
  background-image:url("../../images/systemsetting-unselect.png");
  background-repeat:no-repeat;
  background-size:20px 20px;
  width:20px;
  height:20px;
}
.systemsetting-unselect{
  background-image:url("../../images/systemsetting-unselect.png");
  background-repeat:no-repeat;
  background-size:20px 20px;
  width:20px;
  height:20px;
}