@import "variable";
.theme-purple{
  //终端详情
  .network {
    section{

    }
  }
   /* overflow-y: inherit;
    .networkset{
        overflow:hidden;
        section{
          border: 1px solid $gray-deep-light;
          margin-top:10px ;
          .networklab{
            margin-top: -10px;
            h5{
              font-size: 10px;
              line-height: 30px;
              margin-left: 15px;
              border-bottom: 1px solid $gray-deep-light;
            }
          }
          .netset{
            height: 280px;
            margin-top: 20px;
            .networkset{
              h5{
                float: left;
                font-size: 14px;
                color: $purple;
              }
            }
            .input{
              float: right;
              .form-group{
                height: 40px;
                label{
                  width: 3rem;
                }
                select{
                  width: 20rem;
                  margin-left: 35px;
                  margin-top: -30px;
                }
                input{
                  width: 20rem;
                  margin-left: 35px;
                  margin-top: -30px;
                }
              }

            }

          }

          .gateway{

          }



        }
      }
  }*/
}

