<div class="main">
    <!--面包屑导航-->
    <div ncy-breadcrumb></div>
    <!--正文-->
    <div class="main-body">
        <div class="network-edit">
            <div class="col-md-12 col-xs-12 content">
                <section>
                    <h3>调试信息</h3>
                    <div class="col-sm-12">
                        <div class="form-group has-feedback">
                            <label>日志输出等级</label>
                            <label class="text-left"><input type="checkbox">错误</label>
                            <label class="text-left"><input type="checkbox">告警</label>
                            <label class="text-left"><input type="checkbox">提示</label>
                        </div>
                        <div class="form-group has-feedback">
                            <label>日志输出模块</label>
                            <label class="text-left"><input type="checkbox">安全注册</label>
                            <label class="text-left"><input type="checkbox">升级</label>
                            <label class="text-left"><input type="checkbox">白名单管理</label>
                            <label class="text-left"><input type="checkbox">策略管理</label>
                        </div>
                    </div>
                </section>
            </div>
            <div class="submit-box">
                <button type="button" class="btn btn-default pull-right">提交</button>
            </div>
        </div>
    </div>
</div>