<div class="main">
    <!--面包屑导航-->
    <div ncy-breadcrumb></div>
    <!--正文-->
    <div class="main-body body-terminal">
        <div class="stable">
            <div class="stable-toolbar row">
                <div class="col-md-6 col-xs-6 left-toolbar">
                    <span class="form-group has-feedback search">
                        <input placeholder="搜索" class="form-control">
                        <span class="glyphicon glyphicon-search text-muted"></span>
                    </span>
                    <button class="btn btn-info" style="margin-left:7px;border-color: #5BC0DE;">参数设置</button>
                </div>
                <div class="col-md-6 col-xs-6 right-toolbar">
                    <button type="button" class="btn btn-primary" title="刷新">
                        <i class="fa fa-refresh fa-lg"></i>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-sign-out fa-lg"></i>
                    </button>
                    <button type="button" class="btn btn-primary" title="删除">
                        <i class="fa fa-trash fa-lg"></i>
                    </button>
                    <button type="button" class="btn btn-primary" title="设置">
                        <i class="fa fa-gear fa-lg"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12 table-network">
                    <table class="table">
                        <thead>
                        <tr class="tr-title">
                            <th></th>
                            <th>时间</th>
                            <th>模块</th>
                            <th>日志</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td>2016-12-6 16:38</td>
                            <td>数据储存</td>
                            <td>Data-Sync execute sql[UPDATE hf_tern_mac SET src=1, status=1, this online=1474941262 WHERE mac=’44:85:00:3b:42:33]</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2016-12-6 16:38</td>
                            <td>数据储存</td>
                            <td>Data-Sync execute sql[UPDATE hf_tern_mac SET src=1, status=1, this online=1474941262 WHERE mac=’44:85:00:3b:42:33]</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2016-12-6 16:38</td>
                            <td>数据储存</td>
                            <td>Data-Sync execute sql[UPDATE hf_tern_mac SET src=1, status=1, this online=1474941262 WHERE mac=’44:85:00:3b:42:33]</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2016-12-6 16:38</td>
                            <td>数据储存</td>
                            <td>Data-Sync execute sql[UPDATE hf_tern_mac SET src=1, status=1, this online=1474941262 WHERE mac=’44:85:00:3b:42:33]</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2016-12-6 16:38</td>
                            <td>数据储存</td>
                            <td>Data-Sync execute sql[UPDATE hf_tern_mac SET src=1, status=1, this online=1474941262 WHERE mac=’44:85:00:3b:42:33]</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2016-12-6 16:38</td>
                            <td>数据储存</td>
                            <td>Data-Sync execute sql[UPDATE hf_tern_mac SET src=1, status=1, this online=1474941262 WHERE mac=’44:85:00:3b:42:33]</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2016-12-6 16:38</td>
                            <td>数据储存</td>
                            <td>Data-Sync execute sql[UPDATE hf_tern_mac SET src=1, status=1, this online=1474941262 WHERE mac=’44:85:00:3b:42:33]</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2016-12-6 16:38</td>
                            <td>数据储存</td>
                            <td>Data-Sync execute sql[UPDATE hf_tern_mac SET src=1, status=1, this online=1474941262 WHERE mac=’44:85:00:3b:42:33]</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2016-12-6 16:38</td>
                            <td>数据储存</td>
                            <td>Data-Sync execute sql[UPDATE hf_tern_mac SET src=1, status=1, this online=1474941262 WHERE mac=’44:85:00:3b:42:33]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>