<div class="main">
    <!--面包屑导航-->
    <div ncy-breadcrumb></div>
    <!--正文-->
    <div class="main-body">
        <div class="network-edit">
            <div class="col-md-12 col-xs-12 content">
                <section>
                    <h3>管理员设置</h3>
                    <div class="col-sm-12">
                        <div class="form-group has-feedback">
                            <label>超时</label>
                            <input class="form-control input-feedback" type="text" placeholder="600秒"/>
                            <span class="help-block"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label>使用HTTPS登陆</label>
                            <span class="btn-on-box">
		                        <input type="checkbox" id="btn-https-01" class="btn-on">
		                        <label style="width: 44px;" for="btn-https-01"></label>
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label>删除时提示信息</label>
                            <span class="btn-on-box">
		                        <input type="checkbox" id="btn-delete-01" class="btn-on">
		                        <label style="width: 44px;" for="btn-delete-01"></label>
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label>显示验证码</label>
                            <span class="btn-on-box">
		                        <input type="checkbox" id="btn-captcha-01" class="btn-on">
		                        <label style="width: 44px;" for="btn-captcha-01"></label>
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label>是否设置锁定</label>
                            <span class="btn-on-box">
		                        <input type="checkbox" id="btn-lock-01" class="btn-on">
		                        <label style="width: 44px;" for="btn-lock-01"></label>
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label>锁定时间</label>
                            <select class="form-control">
                                <option>5分钟</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label>失败次数</label>
                            <select class="form-control">
                                <option>3次</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label>时间周期</label>
                            <select class="form-control">
                                <option>60秒</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label>每页显示</label>
                            <input class="form-control input-feedback" type="text" placeholder="20条"/>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="submit-box">
                <button type="button" class="btn btn-default pull-right">提交</button>
            </div>
        </div>
    </div>
</div>