<div class="main">
    <!--面包屑导航-->
    <div ncy-breadcrumb></div>
    <!--正文-->
    <div class="main-body">
        <div class="network-edit">
            <div class="col-md-12 col-xs-12 content">
                <section>
                    <h3>许可证</h3>
                    <div class="col-sm-12">
                        <div class="form-group has-feedback">
                            <label>序列号</label>
                            <span>SDN-12554-5655-1145</span>
                        </div>
                        <div class="form-group has-feedback">
                            <label>有效期</label>
                            <span>0天</span>
                        </div>
                        <div class="form-group has-feedback">
                            <label>最大终端数</label>
                            <span>0</span>
                        </div>
                        <div class="form-group has-feedback">
                            <label>选择许可证文件</label>
                            <button class="btn btn-info" style="margin-right: 5px;">选择文件</button>
                            <small class="remark-txt">未选择任何文件</small>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>