<div class="main">
    <!--面包屑导航-->
    <div ncy-breadcrumb></div>
    <!--正文-->
    <div class="main-body">
        <div class="network-edit">
            <div class="col-md-12 col-xs-12 content">
                <section>
                    <h3>企业定制</h3>
                    <div class="form-group has-feedback">
                        <label>公司名称</label>
                        <input class="form-control input-feedback" type="text" placeholder="无"/>
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label>选择许可证文件</label>
                        <button class="btn btn-info" style="margin-right: 5px;">选择文件</button>
                        <small class="remark-txt">未选择任何文件</small>
                        <span class="remark">图片格式必须是gif、jpg、png</span>
                    </div>
                    <div class="form-group has-feedback">
                        <label></label>
                        <span class="img-box"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label>选择许可证文件</label>
                        <button class="btn btn-info" style="margin-right: 5px;">选择文件</button>
                        <small class="remark-txt">未选择任何文件</small>
                        <span class="remark">图片格式必须是gif、jpg、png</span>
                    </div>
                    <div class="form-group has-feedback">
                        <label></label>
                        <span class="img-box"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label>入网帮助</label>
                        <textarea class="form-control input-feedback" type="text"></textarea>
                    </div>
                </section>
                <section style="border: 0 !important;">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label></label>
                            <button type="button" class="btn btn-default submit">提交</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>