<div class="downloadpage">
    <div class="download-header">
        <div class="pull-left">
            <img src="/resource/images/logo-new.png">
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-default">下载客户端</button>
        </div>
    </div>
    <div class="download-main">
        <div class="col-md-6 col-xs-6 container-left">
            <div class="vc-container">
                <div class="vertical-right">

                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 container-right">
            <div class="vc-container">
                <div class="vertical-right">
                    <h1>工控卫士管家</h1>
                    <a href="" class="download"><i class="fa fa-cloud-download"></i>下载客户端</a>
                </div>
            </div>
        </div>
    </div>
</div>


