<div class="main">
    <!--面包屑导航-->
    <div ncy-breadcrumb></div>
    <!--正文-->
    <div class="main-body body-terminal">
        <div class="stable">
            <div class="row">
                <div class="message-box">
                    <div class="message-title">
                        <span class="pull-right">2016-11-13 13:46</span>
                        <i class="fa fa-commenting messagecolor-terminal"></i>
                        终端事件通知
                    </div>
                    <div class="message-txt">MICROSOFT-F25EE3 过滤网络 KN8J-D00859A</div>
                </div>
                <div class="message-box">
                    <div class="message-title">
                        <span class="pull-right">2016-11-13 13:46</span>
                        <i class="fa fa-commenting messagecolor-server"></i>
                        服务器状态通知
                    </div>
                    <div class="message-txt">MICROSOFT-F25EE3 过滤网络 KN8J-D00859A</div>
                </div>
                <div class="message-box">
                    <div class="message-title">
                        <span class="pull-right">2016-11-13 13:46</span>
                        <i class="fa fa-commenting messagecolor-operation"></i>
                        操作事件通知
                    </div>
                    <div class="message-txt">MICROSOFT-F25EE3 过滤网络 KN8J-D00859A</div>
                </div>
                <div class="message-box">
                    <div class="message-title">
                        <span class="pull-right">2016-11-13 13:46</span>
                        <i class="fa fa-commenting messagecolor-terminal"></i>
                        终端事件通知
                    </div>
                    <div class="message-txt">MICROSOFT-F25EE3 过滤网络 KN8J-D00859A</div>
                </div>
                <div class="message-box">
                    <div class="message-title">
                        <span class="pull-right">2016-11-13 13:46</span>
                        <i class="fa fa-commenting messagecolor-server"></i>
                        服务器状态通知
                    </div>
                    <div class="message-txt">MICROSOFT-F25EE3 过滤网络 KN8J-D00859A</div>
                </div>
                <div class="message-box">
                    <div class="message-title">
                        <span class="pull-right">2016-11-13 13:46</span>
                        <i class="fa fa-commenting messagecolor-operation"></i>
                        操作事件通知
                    </div>
                    <div class="message-txt">MICROSOFT-F25EE3 过滤网络 KN8J-D00859A</div>
                </div>
            </div>
        </div>
    </div>
</div>