<div class="main">
    <!--面包屑导航-->
    <div ncy-breadcrumb></div>
    <!--正文-->
    <div class="main-body body-terminal">
        <div class="stable">
            <div class="row">
                <div class="search-tagbox">
                    <span class="label-title">分类</span>
                    <span class="tagcolor-terminal active">终端</span>
                    <span class="tagcolor-department">部门</span>
                    <span class="tagcolor-tag">标签</span>
                    <span class="tagcolor-whitelist">白名单</span>
                    <span class="tagcolor-safety">安全策略</span>
                    <span class="tagcolor-knowledge">知识库</span>
                    <span class="tagcolor-assets">资产报告</span>
                    <span class="tagcolor-security">安全报告</span>
                    <span class="tagcolor-audit">审计报告</span>
                    <span class="tagcolor-made">定制报告</span>
                </div>
                <div class="col-md-12 col-xs-12 table-network">
                    <table class="table">
                        <thead>
                        <tr class="tr-title">
                            <th><i class="fa fa-list"></i></th>
                            <th>IP</th>
                            <th>类型</th>
                            <th>DHCP</th>
                            <th>使用人</th>
                            <th>在线终端</th>
                            <th>绑定终端</th>
                        </tr>
                        </thead>
                        <tbody>
                             <tr>
                                 <td><span class="tag-box tagcolor-terminal">1</span></td>
                                 <td>192.168.30.6</td>
                                 <td>绑定IP</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>CISCO_SYSTEMS_77:36:12</td>
                             </tr>
                             <tr>
                                 <td><span class="tag-box tagcolor-department">1</span></td>
                                 <td>192.168.30.6</td>
                                 <td>绑定IP</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>CISCO_SYSTEMS_77:36:12</td>
                             </tr>
                             <tr>
                                 <td><span class="tag-box tagcolor-department">1</span></td>
                                 <td>192.168.30.6</td>
                                 <td>绑定IP</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>CISCO_SYSTEMS_77:36:12</td>
                             </tr>
                             <tr>
                                 <td><span class="tag-box tagcolor-whitelist">1</span></td>
                                 <td>192.168.30.6</td>
                                 <td>绑定IP</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>CISCO_SYSTEMS_77:36:12</td>
                             </tr>
                             <tr>
                                 <td><span class="tag-box tagcolor-safety">1</span></td>
                                 <td>192.168.30.6</td>
                                 <td>绑定IP</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>CISCO_SYSTEMS_77:36:12</td>
                             </tr>
                             <tr>
                                 <td><span class="tag-box tagcolor-knowledge">1</span></td>
                                 <td>192.168.30.6</td>
                                 <td>绑定IP</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>CISCO_SYSTEMS_77:36:12</td>
                             </tr>
                             <tr>
                                 <td><span class="tag-box tagcolor-assets">1</span></td>
                                 <td>192.168.30.6</td>
                                 <td>绑定IP</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>CISCO_SYSTEMS_77:36:12</td>
                             </tr>
                             <tr>
                                 <td><span class="tag-box tagcolor-security">1</span></td>
                                 <td>192.168.30.6</td>
                                 <td>绑定IP</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>CISCO_SYSTEMS_77:36:12</td>
                             </tr>
                             <tr>
                                 <td><span class="tag-box tagcolor-audit">1</span></td>
                                 <td>192.168.30.6</td>
                                 <td>绑定IP</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>CISCO_SYSTEMS_77:36:12</td>
                             </tr>
                             <tr>
                                 <td><span class="tag-box tagcolor-made">1</span></td>
                                 <td>192.168.30.6</td>
                                 <td>绑定IP</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>--</td>
                                 <td>CISCO_SYSTEMS_77:36:12</td>
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>